*{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(/assets/coche2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav::after after{
    content:"";
    background-color: black;
}
ul{
    display: flex;
}
.elementos > li{
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
}
.nav_ul--anchors > li{
    padding: 15px;
    display: flex;
    align-items:center;
    color: white;
}
.nav_ul--icons > li{
    width: 10%;
    display: flex;
    align-items: center;
}

.logo{
    width: 100%;
}

li img{
    width: 50%;
}

.header__div{
    position: absolute;
    top: 80%;
    left: 10%;
    color: white;
}
.header__div--button{
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 10px;
}
.series{
    padding: 15px;
    display: flex;
    align-items: center;
    color: grey;
}
.main__ul--models> li{
    padding: 15px;
    display: flex;
    align-items: center;
    color: grey;
}

.contacto {
    display: flex;
    flex-direction: column;
}

.mundo {
    display: flex;
    flex-direction: column;
}

.gama {
    display: flex;
    flex-direction: column;
}

.siguenos {
    display: flex;
    flex-direction: column;
}